<a href="https://colab.research.google.com/github/ikramkhan555/python-for-data-engineering/blob/dev/Number_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NUMBER SYSTEM SERIES QUESTIONS

1) REVERSE THE DIGIT -------> CASE:1

In [41]:
num=int(input("enter the number\n"))

enter the number
12345

In [50]:


def my_rev(temp):
  """ this function used to reversed the digit"""
  sum=0
  rem=0

  while temp>0:
    rem=temp%10
    sum=sum*10+rem
    temp=temp//10
  return sum

In [51]:
num1=my_rev(num)
print(num1)

54321

 2) REVERSE DIGIT ------>CASE:2

In [28]:
num=input("enter the number...\n")

enter the number...
12345

In [30]:
print(num[::-1])

54321

3) SUM OF DIGITS ------>CASE:1

In [47]:
num=int(input("enter the number....\n"))

enter the number....
12345

In [48]:
def my_sum(x):
  """ this function is used to sum of given number"""
  sum=0
  # temp=num
  while x>0:
    rem=x%10
    sum=sum+rem
    x=x//10
  return sum

In [49]:
num1=my_sum(num)
print(num1)

15

4) SUM OF DIGITS ------>CASE:2

In [52]:
num=input("enter the number\n")

enter the number
12345

In [55]:
sum=0
for digit in num:
  sum=sum+int(digit)
print(sum)

15

4) ARMSTRONG NUMBER

In [88]:
num=int(input("enter the number\n"))

enter the number
154

In [100]:
def my_armstrong(x):
  """ this function is used to check armstrong number"""
  temp=x
  sum=0
  rem=0
  while temp >0:
    rem=temp%10
    sum=sum+rem**3
    temp=temp//10
  if int(x)==sum:
    return print("given number is armstrong\n")
  else:
    return print("not armstrong\n")

In [102]:
num1=my_armstrong(154)

not armstrong

5) FACTORIAL OF GIVEN NUMBER------>  CASE:1

In [154]:
def my_fact(num):
  fact=1
  while num>0:
    fact=fact*num
    num=num-1
  return (fact)

In [155]:
num=my_fact(6)
print(num)

720

4) FACTORIAL OF GIVEN NUMBER -----> CASE:2

In [152]:
def my_fact(num):
  x=1
  for i in range(1,num+1):
     x=x*i
     print(x)
  return x

In [153]:
fact=my_fact(4)
print(fact)

1
2
6
24
24

4) FACTORIAL OF GIVEN NUMBER USING RECURSION

In [158]:
def my_fact(num):
  if num==0:
    return 1
  else:
    return num*my_fact(num-1)

In [160]:
fact=my_fact(6)
print(fact)

720

5) PRIME NUMBER

In [197]:
def my_prime(num):
  """ this function is used to check given number is prime or not"""
  i=2
  count=1
  while i<=num:
    if num%i==0:
      count=count+1
    i=i+1

  return count

In [199]:
num1=my_prime(97)
if(num1==2):
  print("given number is prime\n")
else:
  print("not prime number\n")

given number is prime

6) PERFECT NUMBER

In [211]:
def my_perfect(num):
  """this function is used to find given numer is perfect or not"""
  sum=0
  i=1
  while i<num:
    if num%i==0:
      sum=sum+i
    i=i+1
    print(i)
  return sum
  print(sum)

In [216]:
num1=my_perfect(8)
print(num1,sum)
if num1==6:
  print("given number is perfect\n")
else:
  print("not perfect number...\n")

2
3
4
5
6
7
8
7 15
not perfect number...

In [222]:

def my_perfect(num):
  sum=0
  for i in range(1,num):
    if num%i==0:
      sum=sum+i
  i=i+1
  if num==sum:
    print("perfect number\n")
  else:
    print("not perfect\n")

In [227]:
n=my_perfect(29)

not perfect

5) PERFECT NUBER IN RANGE

In [260]:
for i in range(0,500):
  sum=0
  for j in range(1,i):
    if i%j==0:
      sum=sum+j
  if(sum==i):
    print(i)

0
6
28
496

In [269]:
def my_perf(x):
  """ this function is used to find perfect number range"""
  for i in range(0,x):
   sum=0
   for j in range(1,i):
     if i%j==0:
      sum=sum+j
   if(sum==i):
    print(sum)

In [273]:
n1=my_perf(100)

0
6
28